#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  padding: 20px;
  color: white;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.playing-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}

.scores {
  margin-top: 20px;
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid white;
  background-color: black;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: white;
  color: black;
}

.playing-card.winner {
  background-color: #417143;
  color: white;
}

.playing-card.loser {
  background-color: #764542;
  color: white;
}

.playing-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}
